RAFT_NODE_ID=node1
RAFT_PEERS=http://localhost:8002,http://localhost:8003,http://localhost:8004,http://localhost:8005
RAFT_ELECTION_TIMEOUT_MIN_MS=150
RAFT_ELECTION_TIMEOUT_MAX_MS=300
RAFT_HEARTBEAT_INTERVAL_MS=50
RAFT_HTTP_TIMEOUT_S=0.1
